<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zuper Zimple Zuma</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Zuper Zimple Zuma</h1>

    <h2>The chain:</h2>
    <main id="chain">
      <!-- These lines are only for debugging - they are replaced by the JavaScript code -->
      <div class="ball"><img src="images/red-ball.png" /><button>↑</button></div>
      <div class="ball"><img src="images/blue-ball.png" /><button>↑</button></div>
      <div class="ball"><img src="images/yellow-ball.png" /><button>↑</button></div>
      <div class="ball"><img src="images/green-ball.png" /><button>↑</button></div>
    </main>
    
    <p><br /></p>
    <h2>The cannon:</h2>
    <div id="cannon">
      <div class="ball"><img src="images/yellow-ball.png" /></div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
